<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="subscription_box text-center">
                    <h2 class="text-uppercase text-white">Mi Buzón</h2>
                    <p class="text-white">
                        Envia tu propuesta laboral, o proyectos donde deseas que participe.
                    </p>
                    <div class="subcribe-form" id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="" method="get" class="subscription relative">
                            <input name="email" placeholder="Email address" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Email address'" required="" type="email">

                            <div class="mb-2">
                                <p class="mb-30 title_color text-white">Razón: </p>
                                <input name="razon" placeholder="Ingrese Razón" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Ingrese Razón'" required="" type="text">

                            </div>
                            <button class="primary-btn hover d-inline">Enviar</button>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Newsletter Area =================-->