<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="subscription_box text-center">
                    <h2 class="text-uppercase text-white">Mi Buzón</h2>
                    <p class="text-white">
                        Envia tu propuesta laboral, o proyectos donde deseas que participe.
                    </p>
                    <div class="subcribe-form">
                        <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()" class="subscription relative">
                            <input formControlName="email" placeholder="Email address"type="email">
                            <div class="mb-2">
                                <p class="mb-30 title_color text-white">Razón: </p>
                                <input formControlName="razon" placeholder="Ingrese Razón" type="text">
                            </div>
                            <button type="submit" class="btn btn-primary" >Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Newsletter Area =================-->